@import url('https://fonts.googleapis.com/css?family=Patua+One');

.flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}


.rc-slider-handle {
  border: 4px solid rgb(144, 38, 38);
}

.rc-slider-track {
  background-color: rgb(144, 38, 38);
}

.idyll-dynamic {
  color: rgb(144, 38, 38);
  text-decoration: none;
  border-bottom: 2px solid rgb(144, 38, 38);
  border-bottom-style: dotted;
}
